<!DOCTYPE html>
<html>
   <head>
      <title>Edit Schedules</title>
   </head>
   <body>
      <h1>List of Schedules</h1>
      <ol type = "1">
          <li>Schedule 1 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>
          <li>Schedule 2 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>
          <li>Schedule 3 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>
          <li>Schedule 4 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>
          <li>Schedule 5 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>
          <li>Schedule 6 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>
          <li>Schedule 7 <button type="button">Delete</button><button type="button">Edit</button><button type="button">Add</button></li>

      </ol>
   </body>
</html>